@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}


.container {
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.carousel-inner {
    background: linear-gradient(to bottom, rgb(209, 117, 117), rgb(235, 194, 145));
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 5px;
    position: relative; 
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,  rgb(209, 117, 117), rgb(102, 90, 85));
    border-radius: 10px;
}

.carousel-item {
    height: 100vh; 
    position: relative;
}

.carousel-item img {
    width: 1024px; 
    height: 1024px;
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
}

.carousel-control-prev, 
.carousel-control-next {
    z-index: 1000; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}

.carousel-caption {
    max-width: 90%; 
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    text-align: left; 
    z-index: 1000;
    color: #fff; 
    padding: 15px; 
    background-color: rgba(0, 0, 0, 0.7); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}      