@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body{
    border: 0px solid purple;   
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

h1{
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px 4px #000;
    font-size: 50px;
}

.container{
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.page_one {
    background-color: rgb(250, 250, 250);
    background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(209, 117, 117)); 
}

.page_two {
    background-color: rgb(209, 117, 117);
    background: linear-gradient(to bottom, rgb(209, 117, 117), rgb(235, 194, 145));
}


.page_three{
    background: linear-gradient(to bottom, rgb(235, 194, 145), rgb(156, 186, 143));
}

.page_four{
    background: linear-gradient(to bottom, rgb(156, 186, 143), rgb(82, 154, 156));
}

.page_five{
    background: linear-gradient(to bottom, rgb(82, 154, 156), rgb(102, 90, 85));
}

.page_six{
    background-color: rgb(102, 90, 85);
}